[data-air-quality-container] {
  width: fit-content;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border: 1px solid #bcbcbcab;
  padding: 1rem;
  border-radius: 4px;
}
